.spark-axis {
    stroke-width: 0.125;
    stroke-linecap: round;
    stroke: #999;
    fill: none;
}

.spark-line {
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke: #2299dd;
    fill: none;
}

text {
    font-size: 12px;
    font-family: "Roboto", "Open Sans", Arial, sans-serif;
    font-weight: 300;
    text-anchor: middle;
    white-space: nowrap;
    vertical-align: middle;
}

.left-aligned {
    text-anchor: start;
}

.right-aligned {
    text-anchor: end;
}
